services:
  nats:
    image: nats:2.9-alpine
    ports:
      - "4222:4222"
      - "8222:8222"
    restart: unless-stopped

  web:
    build: .
    depends_on:
      - nats
    env_file:
      - .env
    volumes:
      - ./:/app:cached
      - ./data:/data
    ports:
      - "8000:8000"
    restart: unless-stopped
